.video {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  height: 150%;
  width: 150%;
  transform: translate(-15%, -15%);
  z-index: 2;
}

#videoBackup {
  z-index: 10;
  display:block;
  background: url('../img/bg.png');
  background-size: cover;
}

.videoCover {
  position: absolute;
  display: block;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0,0,0, 0.1);
}

.text-vertical-center {
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  #video {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    height: 300%;
    width: 300%;
    transform: translate(-35%, -34%);  }
  }
}